.child-header-page {
  display: flex;

  .image-logo img {
    height: 72px; // Chiều cao của ảnh sẽ là 100% của container
    width: auto; // Đảm bảo tỷ lệ chiều rộng được bảo toàn
  }

  .list-child-header-page {
    height: 72px;
    display: flex;
    align-items: center;

    .tab-child {
      display: flex;
      padding: 0 auto;

      .fa-rectangle-list {
        padding-top: 13px;
      }

      i {
        font-size: 150%;
      }
    }
  }
}