.add-new-user {
  border: 1px solid rgb(114, 114, 114);
  width: 200px;
  height: 40px;
  padding-top: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(88, 88, 199);
  color: white;
  font-size: 17px;
  font-weight: 500;
}

.fa-trash,
.fa-pen-to-square {
  cursor: pointer;
  margin-left: 18%;

  &:hover {
    color: blue;
  }
}
